#include <windows.h>
#include "resource.h"

IDD_SETTINGS DIALOGEX 0, 0, 280, 180
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ShowFavicon"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_SITE_EDIT, 8, 8, 220, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "&Add", IDC_ADD, 234, 8, 40, 14
    LISTBOX         IDC_SITE_LIST, 8, 28, 220, 112, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Remove", IDC_REMOVE, 234, 28, 40, 14
    PUSHBUTTON      "&Edit", IDC_EDIT_SITE, 234, 48, 40, 14
    DEFPUSHBUTTON   "OK", IDOK, 170, 152, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 226, 152, 50, 14
END
